@import "@/styles/_colors";

.container{
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  height: 50vh;
 
}
.home{
  margin: 10px 10px 10px 10px;
  text-align: justify;
  width: 25rem; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.card{
  width: 15rem;
  height: 10rem;
}
