.search {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 4px 4px 4px 4px rgba(25, 22, 22, 0.25);
    padding: 14px 16px;
    width: 100%;
  }
  
  .input {
    outline: none;
    width: 100%;
  }